<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home budget</title>
    <link rel="stylesheet" th:href="@{/assets/style.css}"/>
</head>
<body>
    <h1>Home budget</h1>
    <p> Welcome to Home Budget application! </p>
    <img th:src="@{/assets/happy_dollar.jpg.jpg}"/>
    <p><a href="#" th:href="@{/category/all}">Przejdź do kategorii wydatków</a></p>
    <p><a href="#" th:href="@{/expenses/all}">Przejdź do listy wydatków</a></p>
    <p><a href="#" th:href="@{/expenses/all}">Przejdź do analizy wydatków</a></p>
    <p><a href="#" th:href="@{/standing_order/all}">Przejdź do listy stałych zleceń</a></p>
</body>
</html>